.food-bank-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.food-bank-banner-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1990ff;
  opacity: 0.3;
}

.food-bank-search {
  display: flex;
  flex-direction: row;
}
